<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>todo_login</title>
    <link rel="stylesheet" href="{{url_for('static' ,filename='log.css')}}">
  </head>
  <body   class="intro-header" style="background-image: url('static/imges/login_wallpaper.jpg')">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li class="message">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <a href="/"><img src="static\images\locked.png" alt="logo" id="logo" /></a>
    
    <form action="/" method="post">
      <div class="container">
        <p>LOG IN</p>
        <label><strong>USERNAME:</strong> </label><input
          type="text"
          name="username"
          id="user"
          required
        /><br />
        <label><strong>PASSWORD:</strong></label><input
          type="password"
          name="pass"
          id="password"
          required
        /><br />
        <button type="submit"><strong>LOG-IN</strong></button> 
        <p id="msg2">Don't have account <a href="/signup" id="anchor">SIGN UP</a></p>
      </div>
   
    
  </form>
  </body>
</html>
